<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Dr.Numbers | 8桁までの数字のデータベース</title>

    <link rel="stylesheet" href="css/reset.css" media="screen">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  </head>
  <body>
  <h1>カスタムオセロへようこそ</h1>
  <p>{{ content }}</p>
  </body>
</html>
